<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply</title>
</head>
<body>
    <main class="container" style="padding-top: 20px">
        <div class="row">
            <h1 style="text-align: center">Upload Resume PDF</h1>
        </div>

        <div class="fileSelector" style="text-align: center">
            <input type="file" id="myFile" name="filename" style="border: 2px solid black">
            <input type="submit" style="border: 1px solid darkgray; outline-style: outset">
        </div>
    </main>
</body>
</html>