<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Info</title>
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="../static/assets/dist/css/home.css">
    <link rel="stylesheet" href="../static/assets/dist/css/navbar-top.css">
    <link rel="stylesheet" href="../static/assets/dist/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
      <div class="container-fluid">
        <img class="navbar-brand d-block mx-auto d-flex mb-0" src="../static/assets/images/heb.jpeg" alt="" width="75" height="80">
        <!-- <a class="navbar-brand" href="#">Computer Science Students</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0 px-3">
            <li class="nav-item">
              <a class="nav-link fw-bold " href="{{ url_for('index') }}">Home</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
    <main class="container" style="padding-top: 20px">

        <div class="row" style="margin: auto;">

            <!--------------- Simple Header --------------->

            <h1 style="text-align: center">Review & Submit</h1>

            <!-------------- Form Text Boxes -------------->

            <form style="padding-top: 20px; padding-bottom: 20px">

                <div class="gen_info" style="text-align: center; display: block; padding-bottom: 30px">
                    <label for="name"><strong>Name:</strong></label>
                    <input type="text" id="name" style="width: 275px">

                    <label for="address"><strong>Address:</strong></label>
                    <input type="text" id="address" style="width: 275px">
                </div>

                <div class="gen_info" style="text-align: center; display: block; padding-bottom: 30px">
                    <label for="pnumber"><STRONG>Phone Number:</STRONG></label>
                    <input type="text" id="pnumber" style="width: 250px">

                    <label for="email"><strong>Email:</strong></label>
                    <input type="text" id="email" style="width: 250px">
                </div>

                <div style="display: block; padding-bottom: 20px; text-align: center">
                    <label for="soq" style="display: block; padding-bottom: 10px"><strong>Summary of Qualifications:</strong></label>
                    <input type="text" id="soq" style="height: 150px; width: 600px">
                </div>

                <div style="display: block; padding-bottom: 20px; text-align: center">
                    <label for="education" style="display: block; padding-bottom: 10px"><strong>Education:</strong></label>
                    <input type="text" id="education" style="height: 150px; width: 600px;">
                </div>

                <div style="display: block; padding-bottom: 20px; text-align: center">
                    <label for="accomplishments" style="display: block; padding-bottom: 10px"><strong>Professional Accomplishments:</strong></label>
                    <input type="text" id="accomplishments" style="height: 150px; width: 600px;">
                </div>

                <div style="display: block; padding-bottom: 20px; text-align: center">
                    <label for="history" style="display: block; padding-bottom: 10px"><strong>Work History:</strong></label>
                    <input type="text" id="history" style="height: 150px; width: 600px;">
                </div>

                <div style="display: block; padding-bottom: 20px; text-align: center">
                    <label for="affiliations" style="display: block; padding-bottom: 10px"><strong>Professional Affiliations:</strong></label>
                    <input type="text" id="affiliations" style="height: 150px; width: 600px;">
                </div>

                <div style="display: block; padding-bottom: 20px; text-align: center">
                    <label for="skills" style="display: block; padding-bottom: 10px"><strong>Computer Skills:</strong></label>
                    <input type="text" id="skills" style="height: 150px; width: 600px;">
                </div>

            </form>

            <!------------ Submission Button ------------->

            <div class="submissionButton" style="text-align: center">
                <input type="submit" style="border: 1px solid darkgray; outline-style: outset">
            </div>

        </div>
    </main>
</body>
</html>
